.homeHeader
  display: flex
  flex-direction: column
  align-items: center
  align-content: center
  padding: 150px
  text-align: center
  background-color: transparent
  background-image: linear-gradient(to right, #0f4c75 , rgba(0,0,0, .75)), url('/images/luke-chesser-JKUTrJ4vK00-unsplash.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  width: 100%
  color: white
  box-shadow: 0px 5px 20px #121a1e

.fixedContainer
  position: fixed
  top: 45px
  width: 100%
  overflow: auto
  bottom: 0

