.homeHeader
  display: flex
  flex-direction: column
  align-items: center
  align-content: center
  padding: 50px
  text-align: center
  background-color: #20232a
  background-size: 100% 100%
  background-position: center
  height: 500px
  width: 100%
  color: white

.backToHome
  margin: 3rem 0 0

@media (min-width: 768px) 
  .homeHeader
    height: 100vh