
$transparent: rgba(0, 0, 0, .40)
$purple-light: #000
$blue-bg: #1a2c54
$darkblue-bg: #0A1121

$btn-color: $purple-light
$btn-hover: $purple-light

$navbar-dark-color: rgba(255,255,255, 1.0)
$navbar-dark-hover-color:rgba(255,255,255, .75) 

$link-hover-decoration: underline, dotted white 

$nav-tabs-border-radius: 0

$colors: ("clear": $transparent)
$theme-colors: ("clear": $transparent)

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1262px, xxl: 1400px)


@import "../node_modules/bootstrap/scss/bootstrap"

