
$transparent: rgba(0, 0, 0, .40)
$purple-light: #000
$blue-bg: #1a2c54

$btn-color: $purple-light
$btn-hover: $purple-light

$navbar-dark-color: rgba(255,255,255, 1.0)
$navbar-dark-hover-color:rgba(255,255,255, .75) 

$link-hover-decoration: underline, dotted white 

$colors: ("clear": $transparent)
$theme-colors: ("clear": $transparent)

@import "../node_modules/bootstrap/scss/bootstrap"

