//colors theme
$transparent: rgba(0, 0, 0, 0.0)
$indigo-light: #7e35f4
$blackest: #20232a

//functional colors
$hover: $indigo-light
$header-bg-color: $blackest 

//adding to bootsrap sass map
$colors: ("clear": $transparent, "indigo-light": $indigo-light)
$theme-colors: ("clear": $transparent)



@import "~bootstrap/scss/bootstrap"
