@import "custom"
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap')

html,
body
  padding: 0
  margin: 0
  font-family: 'Inter', Helvetica, sans-serif
  line-height: 1.6
  font-size: 18px
  background-color: $darkblue-bg

*
  box-sizing: border-box

a
  color: white
  text-decoration: none

img
  max-width: 100%
  display: block

.navbar
  background-color: black
  top: 0
  border-bottom: 1px solid black
  text-align: center
  align-content: start

  & .h-100
    transition: 0.5s
    height: 100%
    position: fixed
    overflow-x: hidden
    top: 0
  
.hidden
  display: none

.navbar-toggler, .navbar-toggler:focus
  border: 0
  box-shadow: none

.nav-item, .navbar-brand
  font-size: 1.2rem

.nav-link
  color: white

.main-nav .active
  border-bottom: inset 2px $white

.nav-tabs
  border: 0

  & .nav-item 
    border: solid 1px $white
  
  & .nav-link
    text-decoration: none
  
.btn-primary
  border: solid 1px white
  border-radius: 0
  background-color: $blue-bg
  color: white

.btn-primary:hover
  color: rgba(255,255,255,.8)

.portfolioContainer
  background-color: $darkblue-bg
  height: 75vh

.vh-100
  height: 100vh

.resume
  display: block
  height: 1200px
  width: 75%
  background-image: url("/images/resume-1.png")
  background-size: cover
  background-repeat: no-repeat

@media (max-width: 1262px)


@media (min-width: 1262px)
  .navbar
    background-color: $transparent
    color: white
