@import "custom"
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap')

@mixin btn-primary
  box-shadow: 0px 0px 5px black
  border-radius: 20px
  color: white

.transition-fade 
  transition: 0.4s
  opacity: 1

html.is-animating .transition-fade 
  opacity: 0

html, body
  padding: 0
  margin: 0
  font-family: 'Inter', Helvetica, sans-serif
  line-height: 1.6
  font-size: 16px
  background-color: #1b262c

html, body, #__next, #wrapper2
  height: 100%
  margin: 0

#wrapper2
  display: flex
  flex-direction: column

header
  flex: none

main
  overflow-y: auto 
  flex: auto


*
  box-sizing: border-box

a
  color: white
  text-decoration: none

img
  width: 250px

p
  margin-bottom: 12px

.rounded-img
  border-radius: 5px
  box-shadow: 0px 0px 5px black

.navbar
  background-color: black
  top: 0
  border-bottom: 1px solid black
  text-align: center
  align-content: start
  border: 0

.navbar-toggler, .navbar-toggler:focus
  border: 0
  box-shadow: none

.nav-item, .navbar-brand
  font-size: 1.2rem

.nav-link
  color: white

.nav-link:hover
  color:$navbar-dark-hover-color

.nav-tabs
  border: 0

  & .nav-link
    text-decoration: none

.nav-tabs .nav-link
  @include btn-primary
  border: 2px solid white
  transition: background-color 0.5s ease-out

.nav-tabs .nav-link.active
  @include btn-primary 
  background-color: #583d72

.btn-primary
  @include btn-primary
  background-color: #583d72


.btn-primary:hover
  color: rgba(255,255,255,.8)

.btn-tab
  width: 18ch

.resume
  display: block
  height: 1319px
  width: 1020px
  background-image: url("/images/resume-1.png")
  background-size: contain
  background-repeat: no-repeat
  filter: drop-shadow(0 0 0.75rem black)

.card
  
  background-color: transparent
  border: 0

.card-height
  height: 24ch

.card-body
  background-color: $transparent
  color: white

.card-img-top
  height: 260px
  object-fit: cover

.card-title
  color: #a3db3b

.stand-out
  border: 1px solid black
  box-shadow: 0px 0px 5px black
  border-radius: 3px

.purple-text-color
  color: #583d72

.smaller-pipes
  font-size: .9rem

#tabBarConnectingLine
  background: white
  width: 17px
  position: relative
  height: 2px
  top: calc(44px / 2)
  

@media (max-width: 436px)
  #tabBarConnectingLine
    display: none

@media (min-width: 576px)
  .navbar
    color: white

  .main-nav .active
    border-bottom: inset 2px $white

  

@media (max-width: 576px) 
  #collapsingNavbar3
    height: 100vh
    transition: height 0.05s linear
    padding: calc(100vh/4) 0px

  .main-nav .nav-item
    padding: 10px

  .smaller-pipes
    display: none

    
  