@import "custom"

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap')

html,
body
  padding: 0
  margin: 0
  font-family: 'Merriweather', serif
  line-height: 1.6
  font-size: 18px
  background-color: $blue-bg

*
  box-sizing: border-box

a
  color: white
  text-decoration: none

img
  max-width: 100%
  display: block

.navbar
  top: 0
  border-bottom: 1px solid black

.navbar-toggler
  border: 0

.nav-item, .navbar-brand
  font-size: 1.2rem

.nav-link:hover
  text-decoration: underline dotted white 

.btn-primary
  border: 0
  border-radius: 0
  background-color: $blue-bg
  color: white

.btn-primary:hover
  color: rgba(255,255,255,.8)
